@import 'tailwindcss';

@theme {
  --color-content: #2c2c2c;
  --color-accent: #f3743d;
  --color-background-button: #ffa279;

  --color-orange: #f3743d;
  --color-blue: #3498db;
  --color-green: #2ecc71;
  --color-red: #e74c3c;
  --color-purple: #9b59b6;
  --color-yellow: #f1c40f;

  --color-orange-light: #ffa279;
  --color-blue-light: #5dade2;
  --color-green-light: #58d68d;
  --color-red-light: #ec7063;
  --color-purple-light: #af7ac5;
  --color-yellow-light: #f4d03f;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--content);
  min-height: 100vh;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
